{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 110,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
